<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>992211130834-g2lg92ts3ojtgc85uodun733a9n0h114.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992211130834-g2lg92ts3ojtgc85uodun733a9n0h114</string>
	<key>API_KEY</key>
	<string>AIzaSyD1w1Oz1ili6iGcZqQi0EoQG1F-baOQYPE</string>
	<key>GCM_SENDER_ID</key>
	<string>992211130834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.ioptic</string>
	<key>PROJECT_ID</key>
	<string>ioptic-b160f</string>
	<key>STORAGE_BUCKET</key>
	<string>ioptic-b160f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:992211130834:ios:e311e183a8c97884</string>
	<key>DATABASE_URL</key>
	<string>https://ioptic-b160f.firebaseio.com</string>
</dict>
</plist>